.wrapper {
  grid-area: bottomFooter;
  width: 100%;
  min-height: 132px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.payments {
  display: inline-flex;
  gap: 16px;
}
.copy {
  color: #00000099;
  font-size: 14px;
}

.payWay {
  width: 40px;
  height: 26px;
  background-color: #fff;
  border: 0.22px solid #d6dce5;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0.38px 3.84px 0px #b7b7b714, 0px 3.84px 7.68px 0px #b7b7b714;
}
.payWay img {
  height: 70%;
  width: 70%;
  align-self: center;
}

@media (min-width: 768px) {
    .payments,
    .copy {
      align-self: flex-start;
    }
    .payWay{
      width: 46px;
      height: 30px;
    } 
    .wrapper {
      flex-direction: row;
      justify-content: space-between;
    }
}