/* Footer */
.footer {
  width: 100%;
  color: #00000099;
  background-color: #f0f0f0;
  margin-top: 146px;
}
.footer > .container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: center;
  display: grid;
  grid-template-areas:
    "newsletter"
    "gapTop"
    "upperFooter"
    "gapBottom"
    "bottomFooter";
  grid-template-rows: 150px 32px auto 16px auto;
  grid-template-columns: 1fr;
}
/* Newsletter */
.newsletter {
  grid-area: newsletter;
  position: relative;
  transform: translateY(-50%);
  border-radius: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  gap: 32px;
  min-height: 190px;
  height: 200%;
  max-height: 298px;
}

.newsletter > .inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ls_container {
  display: grid;
  gap: 14px;
}

.upperFooter {
  grid-area: upperFooter;
  display: grid;
  gap: 25px;
  padding-bottom: 40px;
}
.upperFooter .wrapper-logo {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.upperFooter .linksContainer .link a {
  display: inline;
  transition: color 0.3s ease;
  cursor: pointer;
}
.upperFooter .linksContainer .link a:hover {
  color: #000;
}
.upperFooter .linksContainer .linkList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.upperFooter .linksContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
}
.bottomFooter {
  grid-area: bottomFooter;
  width: 100%;
  min-height: 132px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.bottomFooter .copy {
  color: #00000099;
}
.bottomFooter .payments {
  display: inline-flex;
  gap: 16px;
}
/* Newsletter */
.newsletter .title {
  text-align: left;
}
.newsletter > .newsletterTitle {
  font-family: "IntegralCF";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
}
.newsletter .newsBtn {
  min-width: 100%;
}
.upperFooter .wrapper-logo .slogan {
  text-wrap: balance;
}
.upperFooter .wrapper-logo .socialsList {
  display: flex;
  gap: 12px;
}
.upperFooter .wrapper-logo .socialsList .socialsBack {
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #00000033;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}
.upperFooter .wrapper-logo .socialsList .socialsBack a{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upperFooter .wrapper-logo .socialsList .socialsBack:nth-of-type(2) {
  background-color: #000;
  color: #fff;
  border: none;
}
.upperFooter .wrapper-logo .socialsList .socialsBack img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}
.upperFooter .wrapper-logo .socialsList .socialsBack:hover {
  box-shadow: 0 0 3px 1px #0000004d;
}
.upperFooter .linksContainer .title {
  font-size: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
  margin-bottom: 20px;
  text-align: left;
}
@media (max-width: 390px) {
  .newsletter {
    padding: 24px 20px;
    height: 210%;
    gap: 10px;
  }
}

@media (min-width: 768px) {
  .footer {
    margin-top: 95px;
  }
  .footer > .container {
    grid-template-rows: 95px 50px auto 20px auto;
  }
  .newsletter {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: space-evenly;
    padding: 3, 5% 5%;
    height: 190%;
  }
  .upperFooter .linksContainer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  .bottomFooter .payments,
  .bottomFooter .copy {
    align-self: flex-start;
  }
}

@media (min-width: 1024px) {
  .newsletter > .title {
    text-wrap: balance;
  }
  .newsletter > .newsletterTitle {
    font-size: 40px;
  }
  .upperFooter {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 1;
  }
  .bottomFooter {
    flex-direction: row;
    justify-content: space-between;
  }
}
