.pageTitle{
    font-family: var(--font-secundary);
    font-size: 32px;
    margin-bottom: 20px;
}

.cart{
    margin: 36px auto 36px auto;
}
@media (min-width: 768px) {
    .cart{
        margin: 36px auto 78px auto;
    }
}
.content{
    display: grid;
    gap: 20px;
    
    .items,
    .buyInfo{
        border-radius: 20px;
        border: 1px solid #0000001A;
        padding: 14px;
        max-height: fit-content;
    }
    .items > * {
        padding: 16px 0;
        border-top: 1px solid #0000001A;
    }
    .items > *:first-child {
        padding-top: 0;
        border-top: none; 
    }
    .buyInfo{
        display: grid;
        gap: 16px;
    }
    .orderWrapper{
        display: grid;
        gap: 20px;
        font-size: 16px;
        .orderItem{
            display: flex;
            justify-content: space-between;
            p{
                color: #00000099;
            }
            .price{
                font-weight: 700;
                color: black;
            }
            .red{
                color: #FF3333;
            }
        }
        .total{
            border-top: 1px solid #0000001A;
            padding-top: 20px;
            .price{
                font-size: 1.25em;
            }
        }
    }
    .promoBtns{
        display: flex;
        gap: 12px;
        
    }
    .promoBtns > *:first-child {
        flex: 7;
    }
    .promoBtns > *:last-child {
        flex: 3;
    }
}

@media (min-width: 768px) {
    .pageTitle{
        font-size: 40px;
        margin-bottom: 24px;
    }
    .content{
        display: flex;
        width: 100%;
        .items {
            flex: 6; 
            height: auto;  
        }
        .items > * {
            padding: 20px 0;
        }
        .buyInfo {
            flex: 4; 
            height: fit-content; 
        }
    }
}