/* Product Card */
.productCard > .details{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    font-size: 20px;
}
.productCard > .details .title{
    font-family: "Satoshi";
    font-size: 0.8em;
    font-weight: 700;
    text-transform: capitalize;
    text-align: left;
}
.productCard > .details .rating{
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 0.6em;
    font-weight: 400;
}

.productCard > .details .priceContainer{
    display: flex;
    align-items: flex-start;
    gap: 5px;
}
.productCard > .details .priceContainer .discount,
.productCard > .details .priceContainer .price{
    font-size: 1.25rem;
    font-weight: 700;
}
.productCard > .details .priceContainer .discount{
    color: #00000066;
    text-decoration: line-through;
}
.productCard > .details .priceContainer .percentage{
    color: #FF3333;
    background-color: #FF33331A;
    border-radius: 62px;
    padding: 3px 8px;
    font-size: 10px;
    align-self: center;
}
.productCard > .img-container{
    background-color: #F0EEED;
    border-radius: 20px;
    object-fit: scale-down;
    max-height: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.productCard img{
    object-fit: cover;
    border-radius: 20px;
    max-width: 198px;
    max-height: 200px;
}

/* ReviewCard */
.reviewsSection > .container .reviewCard{
    background-color: #fff;
    border: 1px solid #0000001A ;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 358px;
    flex: 0 0 100%;

}
.reviewsSection > .container .reviewCard .user{
    display: flex;
    gap: 10px;
}
.reviewsSection > .container .reviewCard .userName{
    font-weight: 700;
}
.reviewsSection > .container .reviewCard .review{
    font-weight: 400;
    color: #00000099;
}
@media (min-width: 768px) {
    
    .productCard > .details .rating{
        font-size: 0.7em;
    }
    .productCard > .img-container{
        max-width: 295px;
        max-height: 298px;
        margin-bottom: 16px;
    }
    .productCard .img-container > img{
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
    }
    .reviewsSection > .reviewList .reviewCard {
        flex: 0 0 calc(50% - 5px);
    }
}

@media (min-width: 1024px) {
    .reviewsSection > .container .reviewCard{
        min-width: 400px;
        flex: 0 0 calc(33.33% - 15px);
    }
}